@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// MAIN START

.other-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 150px;
    width: 200px;
    margin-left: 40px;
    margin-right: 40px;
    color:#800;
    transition: .5s;
}

.icon-border{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid #800;
    transition: .2s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.other-links:hover{
    p{
        text-decoration: underline;
    }

    .icon-border{
        color: white;
        background-color: #800;
    }
}
.other-links p{
    text-align: center;
}

.icon-container{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
}

.content-container{
    height: 650px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid #800;
}

.announcements{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: auto;
    width: 320px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

.content{
    height: 600px;
    box-sizing: border-box;
}

.content-container a{
    color: #800;
}

.content-container p{
    color: #555555;
    font-size: 12px;
    margin-top: 10px;
}

.img-container img{
    border-radius: 10px;
}

.announcements a:hover{
    text-decoration: underline;
}

.twitter{
    border-radius: 5px;
}
.twitter a{
    position: fixed;
}
.twitter-timeline {
    width: 350px;
    height: 885px;
    overflow: auto;
}
.yt{
    width: 750px;
    height: 500px;
}
.spotify{
    width: 750px;
    height:360px;
}

// WIDGETS

.services-widget {
    position: fixed;
    display: block;
    bottom: 30vh;
    right: 10px;
    z-index: 1;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: normal;
    color: #fff !important;
    border-radius: 25px !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    background-color: rgba(188, 188, 188, 0.6);
    -webkit-backdrop-filter: blur(10px) saturate(125%) !important;
    backdrop-filter: blur(10px) saturate(125%) !important;
    overflow: hidden;
    cursor: pointer;
}

.services-widget:hover{
    width: 180px;
    background-color: rgba(78, 78, 78, 0.6);
    i{
        margin-right: 5px;
    }
}

.messenger{
    width: 44px;
    height: 44px;
    background-color: #880000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    position: fixed;
    bottom: 10vh;
    right: 25px;
    z-index: 1;
}

.back-to-top {
    // display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 18px;
    right: 13px;
    z-index: 1;
    background-color: rgba(255, 188, 0, 0.4);
    width: 48px;
    height: 48px;
    border-radius: 25px !important;
    -webkit-backdrop-filter: blur(10px) saturate(125%) !important;
    backdrop-filter: blur(10px) saturate(125%) !important;
    transition: .2s;
}

.back-to-top i {
    display: block;
    line-height: 48px;
    font-size: xx-large;
    color: #fff;
    background-color: transparent;
    border-radius: 25px !important;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}


@media screen and (max-width: 768px){
  
    .other-links{
        position: static;
        transform: scale(1.5);
    }
    .content-container-container{
        flex-direction: column;
        align-content: center;
    }
    .content{
        width: 100%;
        height: 900px;
    }
    .content-container{
        margin-bottom: 20px;
        height: auto;
        padding: 20px;
    }
    .announcements{
        width: 80%;
    }
    .embed{
        width: 100%;
        align-items: center;
    }
    .img-container img{
        width: 100%;
        height: 600px;
    }
    .content-container h1, 
    .content-container a,
    .content-container p{
        font-size: 36px;
    }
    .title{
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-top: 100px;
    }
    .yt, .spotify{
        width: 95%;
    }
    .yt-spot-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
    .twitter{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 1500px;
        margin-bottom: 30px;
    }
    .twitter-timeline{
        width: 95%;
        height: 100%;
        border-radius: 20px;
    }
    .services-widget,
    .back-to-top,
    .messenger{
        transform: scale(2.5);
        margin-right: 40px;
    }
    .services-widget{
        bottom: 70vh;
    }
    .messenger{
        bottom: 20vh;
    }
}
// MAIN END