.top-navbar-links li{
    display: flex;
    padding: 5px 12px 5px 12px;
    height: 40px;
    align-items: center;
    transition: .2s;
    color: #666666;
}

.nav-container li:hover{
    color: white;
    background-color: #800;
    cursor: pointer;
}

.top-navbar2-links li{
    margin-right: 40px;
}

.nav, .nav2{
    width: 1170px;
}

.contact{
    transition: .2s;
    padding-left: 10px;
    padding-right: 10px;
    color: #666666;
}

.nav-container, .nav2-container{
    backdrop-filter: blur(1px) saturate(80%);
}
.nav2-container h2, .footer-links a{
    color: #666666;
}

.navbar-container{
    background-image: url(/bg.jpg);
}

.search{
    height: 28px;
    width: 175px;
    border: .5px solid grey;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    padding-left: 10px;
    padding-bottom: 2px;
    font-size: 12px;
    outline: none;
}

.burger{
    // display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 80px;
    height: 60px;
    border: 2px solid #fff;
}

// DROPDOWN

.dropdown-container{
    display: none;
    visibility: hidden;
    position: absolute;
    background-color: hsla(0,0%,100%,.88);
    width: 300px;
    height: auto;
    box-shadow:0px 20px 44px 0px rgb(0 0 0 / 68%);
    -webkit-backdrop-filter: blur(10px) saturate(125%) !important;
    backdrop-filter: blur(10px) saturate(168%) !important;
    border-radius: 8px;
    border: .5px solid #800;
    margin-top: 6px;
    transform: translateX(-14px);
    z-index: 100001;
}

.dropdown-container li{
    width: 100%;
    padding: 10px 15px 10px;
    color: #666666;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    font-size: 14px;
    font-weight:300;
    border-radius: 8px;
    font-family:Arial, Helvetica, sans-serif;
}

.dropdown-container li:hover{
    background-color: #fff;
    color: #800;
    padding-left: 17px;
}

.pup-links li:hover > .dropdown-container{
    visibility: visible;
    display: block;
}

// MOBILE MENU

.mobile-menu{
    height: 350px;
    overflow-y: scroll;
    top: 100%;
}

.mobile-menu ul{
    color: #666;
    a{
        width: 90%;
    }
}

.nav-arrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: #ededed;
    float: right;
    text-align: center;
    width: 50px;
    height: 40px;
    color: #666;
}

@media screen and (max-width: 768px){

    // NAV  
    .nav2-container{
        background-color: rgb(102, 22, 22);
        background-image: none;
        border-bottom: .5px solid #fff;
    }
    .top-navbar-links img{
        transform: scale(2.5);
        margin-right: 150px;
    }
    .nav2-container img{
        transform: scale(1.3);
    }
    .nav2{
        width: auto;
    }
}